@charset "utf-8";


<style>
@import url('https://fonts.googleapis.com/css?family=Glegoo|Hind:300|IBM+Plex+Sans:100,200,300,400,500,600,700');
</style>


body {
    height: 100%;
    width:100%;
    position: absolute;
    background-color: white; 
}

.border{
  position: fixed;
  top: 0;
  left: 0;
  border: 3.5rem solid #f9e003;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    z-index: 50;
    pointer-events: none;
}



#alto-dx{
    right: 5%;
    top: 7%;
    position: fixed;
    z-index: 50;
}

#pannokkia{
    position:absolute;
    top:-3%;
    left:48.5%;
    max-height: 50px;   
}

.top50{
    margin-top: 50px;
}

.bottom100{
    margin-bottom: 100px;
}

#my-line{
    border: 2px solid #ee1b50;
    margin: 40 0 40 0;
    
}

.instagram{
    font-size: 40px;
    color:#ee1b50;
    margin-top: 20px;
    
}

#fb{
    margin-left: 10px;
}




.menu-sopra {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
	letter-spacing: 2px;
    color:#303030;}

.menu-sopra li a:hover {
    color: #ee1b50;
    font-weight: 700;
    text-decoration: none;
    background-color: transparent;
}

p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
}

.link_style{
	color: #333333;
	text-decoration:none;
	font-weight: 500;
	background-image:linear-gradient(180deg,transparent 70%, rgba(249, 224, 3,.6) 0);
	transition: 2s ease;
}

.link_style:hover{
	color:#333333;
	text-decoration: none;
	background-image:linear-gradient(180deg,transparent 10%, rgba(249, 224, 3,.6) 0);
}

h5{
     
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    line-height: 32px;
    margin: 20 0 10 0;
    max-width: 160px;
    background-image: linear-gradient(225deg, rgb(249, 224, 3),#ee1b50);
  	color: transparent;
  	-webkit-background-clip: text;
  	background-clip: text;
}



.nnav a:link    {color:black; background-color:transparent; text-decoration:none}
.nnav a:visited {color:black; background-color:transparent; text-decoration:none}
.nnav a:hover   {color:red; background-color:transparent; text-decoration:none; font-weight: bold}


@media (max-width: 768px) {
    
   #pannokkia{
    position:absolute;
    top:-3%;
    left:41%;
    max-height: 50px;   
    }

    
    .top50{
        margin-top: 20px;
    }
    
   #alto-dx{
      right: 9%;
      background-color: rgb(249, 224, 3);
      padding: 6px;
       top:7%;
       z-index: 100;
    }
    
}
